html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: monospace, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}

.portfolio__header{
    width: 100%;
}

.portfolio__nav{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: auto;
}

.portfolio__logo{
    display: flex;
    align-items: center;
}

.portfolio__logo-image{
    display: block;
}

.portfolio__nav-list{
    display: flex;
    gap: 15px;
    padding: 5px;
}

.portfolio__nav-item{
    display: block;
}

.portfolio__hero,
.portfolio__about,
.portfolio__projects{
    padding: 1.5rem;
}

.portfolio__hero h1, .portfolio__about h2, 
.portfolio__projects h2, .portfolio__projects h3{
    text-align: center;
    color: chocolate;
    font-weight: 700;
    margin: 15px;
}

.portfolio__hero h1{
    font-size: 3rem;
}

.portfolio__about h2, 
.portfolio__projects h2{
    font-size: 2.5rem;
}
.portfolio__projects h3{
    font-size: 2rem;
}

.portfolio__hero article,
.portfolio__about p,
.portfolio__projects p{
    font-size: 1.4rem;
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.portfolio__project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
}

.portfolio__project-buttons-container{
    display: flex;
    flex-direction: row;    /* ¡Aquí está el truco! Botones lado a lado */
    gap: 2rem;              /* Espacio uniforme entre botones */
    margin: 20px 0;             /* Espacio vertical entre el texto y los botones */
    padding: 5px;              /* Espacio interno para que los botones no estén pegados al borde del proyecto */ 
}

.portfolio__project-buttons-container button{
    padding: 10px 20px;
    font-size: 1.5rem;
    color: white;
    background-color: chocolate;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}